.env
.envrc
.idea/
.*.swp
*.egg-info/

__pycache__
*.py[ocd]

build/
sdist/
dist/
lib/
lib64/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

*.mo
*.pot
docs/_build

venv*
.python-version
.pytest_cache

local-samples
env-*.sh
env_*.sh
.ipynb_checkpoints
