aiohttp==3.6.2
aioresponses==0.6.4
# Editable Git install with no remote (aiotusclient==1.0)
-e /Users/sergey/Documents/workspace/backend.ai_dev/aiotusclient
appdirs==1.4.4
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
backend.ai-cli==0.4.1
-e git+https://github.com/lablup/backend.ai-client-py@b09f05ca7b7e44665476ddb97010402f6876c021#egg=backend.ai_client
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
codecov==2.1.8
colorama==0.4.3
coverage==5.2
cryptography==2.9.2
docutils==0.16
flake8==3.8.3
humanize==1.0.0
idna==2.10
incremental==17.5.0
isort==4.3.21
Jinja2==2.11.2
keyring==21.2.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
multidict==4.7.6
mypy==0.782
mypy-extensions==0.4.3
packaging==20.4
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.5.3
pyparsing==2.4.7
pytest==5.4.3
pytest-asyncio==0.14.0
pytest-cov==2.10.0
pytest-mock==3.2.0
python-dateutil==2.8.1
PyYAML==5.3.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tabulate==0.8.7
toml==0.10.1
towncrier==19.2.0
tqdm==4.48.2
twine==3.2.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
yarl==1.5.1
